*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1{
    color: #1f1f1f;
    text-align: center;
    margin: 50px;
}

.contain-tout{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-container{
    width: 50%;
    height: 100%;
}

#contact-form{
    width: 100%;
    height: 100%;
    padding: 50px 50px;
}

#contact-form div{
    width: 100%;
    margin: 20px 0;
    position: relative;
}

#contact-form div::before{
    font-family: FontAwesome;
    z-index: 2;
    width: 20px;
    color: #cccccc;
    text-align: left;
    position: absolute;
    left: 0;
    top: 10px;
}
#contact-form div:nth-child(1):before {
    content: '\f007';
}

#contact-form div:nth-child(2):before {
    content: '\f0e0';
}

#contact-form div:nth-child(3):before {
    content: '\f3cd';
}
#contact-form div:nth-child(4){
    height: 100px;
}
#contact-form div:nth-child(4):before {
    content: '\f075';
    top: 0;
}

input, textarea {
    width: 70%;
    padding: 10px 10px 10px 10px;
    border: 0;
    border-bottom:2px solid #dddddd;
    background-color: transparent;
 }

 label{
    display: inline-block;
    width: 22%;
    padding-left: 30px;
    color: #cccccc;
    margin-right: 10px;
 }

 #message{
    position: absolute;
 }
input{
    height: 40px;
}

input:focus, textarea:focus{
    border-bottom:2px solid #01109b;
    outline: none;
}


/* Voici les règles de mise en forme pour les champs invalides */
input.invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus.invalid {
    outline: none;
  }

/* Voici les règles utilisées pour les messages d'erreur */
.error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }

  /* fin traitement des erreurs*/
  
textarea{
    height: 100px;
    resize: none;
}
::placeholder{
    font-style: italic;
}

.btn{
    width: 100%;
    padding: 0;
    background: transparent;
    border: 1px solid #dddddd;
    transition: 1s;
    border-radius: 10px;
    margin-top: 10px;
}

.btn:hover{
    border: 1px solid #01109b;
    background: #01109b;
    color: #dddddd;
}

/* Cadre pour message d'envoi */
#result-form{
    height: 100px;
    width: 400px;
    margin: 60px auto;
    text-align: center;
    padding: 30px 20px 30px 20px;
}

.form-image{
    width: 50%;
    height: 100%;
    position: relative;
    padding: 50px;
}

.form-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    width: 80%;
    height: auto;
}

    /*-webkit-clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);
  clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);*/